<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 d-flex flex-column justify-content-center align-items-center">
      <hr>
      <div class="d-flex justify-content-center align-items-center">
        <a href="#" target="_blank" class="mx-1">
          <img src="/assets/ikonok/logo-facebook.svg" alt="facebookLogo">
        </a>
        <a href="#" target="_blank" class="mx-1">
          <img src="/assets/ikonok/logo-instagram.svg" alt="instagramLogo">
        </a>
        <a href="#" target="_blank" class="mx-1">
          <img src="/assets/ikonok/logo-linkedin.svg" alt="linkedinLogo">
        </a>
        <a href="#" target="_blank" class="mx-1">
          <img src="/assets/ikonok/mail-outline.svg" alt="emailIkon">
        </a>
      </div>
    </div>
  </div>
</div>
