<div class="container-fluid" id="mainContainer">
  <div class="row h-100">
    <div class="col-lg-12 d-flex justify-content-center align-items-center">

      <div class="container-fluid" id="secondContainer">
        <div class="row">
          <div class="col-lg-12">
            <h2 class="text-center">Projekt létrehozása</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12"></div>
        </div>
        <div class="row">
          <div class="col-lg-12"></div>
        </div>
      </div>
    </div>
  </div>
</div>
