<div class="container-fluid" id="mainContainer">
  <div class="row">
    <div class="col-lg-12">

      <div class="container-fluid" id="secondContainer">
        <div class="row">
          <div class="col-lg-12">
            <h1>Üdvözöljük!</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            @if (errorMsg != "") {

            }
            <form [formGroup]="form" class="container-fluid">
              <div class="row">
                <div class="col-lg-12">
                  <label for="email">E-mail:</label>
                  <input type="text" id="email" placeholder="Adja meg az e-mail címét" formControlName="email">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <label for="password">Jelszó</label>
                  <input type="text" id="password" placeholder="Adja meg a jelszavát" formControlName="password">
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <button (click)="login()" [disabled]="form.invalid">Bejelentkezés</button>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
